@model Sky.Editor.Models.Blogs.BlogStreamViewModel
@{
    ViewData["Title"] = "Create Blog Stream";
}
<h2>Create Blog Stream</h2>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="BlogKey" class="form-label"></label>
        <input asp-for="BlogKey" class="form-control" />
        <span asp-validation-for="BlogKey" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Cancel</a>
</form>