@{
    Layout = null;
    var returnUrl = (string)ViewData["ReturnUrl"];
    var frameUrl = "/Home/CcmsContentIndex" + Context.Request.QueryString.ToString();
    var layoutId = Context.Request.Query["layoutId"].ToString() ?? "";
    var articleId = Context.Request.Query["articleId"].ToString() ?? "";
}
<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="~/ccms/js/TimeUtils.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- http://www.daterangepicker.com/ -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

</head>
<body class="cwps-body" style="margin:0px;padding:0px;">
    <partial name="_CosmosPreviewMenuPartial" />
    <script>
        const layoutId = '@layoutId';
        const articleId = '@articleId';

        function setupIframe() {
            const iframe = document.getElementById("iFrameWebPage");
            if (!iframe) return;

            const nav = document.getElementById("ccmsNavMenu");
            const navHeight = nav ? nav.clientHeight : 0;
            iframe.style.height = (window.innerHeight - navHeight) + 'px';
        }

        window.addEventListener('resize', function () { setupIframe(); }, true);

        $(document).ready(function () {
            const $iframe = $('#iFrameWebPage');

            $iframe.on('load', function () {
                setupIframe();

                const doc = $iframe[0].contentDocument || $iframe[0].contentWindow?.document;
                if (!doc) return;

                // Avoid duplicate handlers
                $(doc).off('click.ccmsPreview', 'a');

                // Delegate clicks on links inside the iframe
                $(doc).on('click.ccmsPreview', 'a', function (event) {
                    const anchor = $(this);
                    const href = anchor.attr('href');

                    if (!href || href === '#') {
                        return;
                    }

                    const isExternal = /^(https?:)?\/\//i.test(href);

                    if (isExternal) {
                        event.preventDefault();
                        window.location.href = href;
                    } else {
                        event.preventDefault();
                        const iframeBaseUrl = "/Home/CcmsContentIndex?target=";
                        let newUrl = iframeBaseUrl + href;

                        if (layoutId) {
                            newUrl += "&layoutId=" + encodeURIComponent(layoutId);
                        }
                        if (articleId) {
                            newUrl += "&articleId=" + encodeURIComponent(articleId);
                        }

                        $iframe.attr('src', newUrl);
                    }
                });
            });

            // Initial sizing
            setupIframe();
        });
    </script>
    <iframe id="iFrameWebPage" src="@frameUrl" style="position: absolute; top: 52px; width: 100%; margin:0px; padding:0px;z-index:1;"></iframe>

</body>
</html>
