@model Sky.Editor.Models.Blogs.BlogEntryEditViewModel
@{
    ViewData["Title"] = "Create Blog Entry";
}
<h2>Create Blog Entry (@Model.BlogKey)</h2>
<form method="post">
    <input type="hidden" asp-for="BlogKey" />
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <span asp-validation-for="Published" class="text-danger"></span>
    <div class="mb-3">
        <label asp-for="Introduction" class="form-label"></label>
        <textarea asp-for="Introduction" class="form-control" rows="2"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" href="@Url.Action("Entries", new { blogKey = Model.BlogKey })">Cancel</a>
</form>
