@using Cosmos.Editor.Services
@using Sky.Editor.Controllers
@using Sky.Editor.Models
@using Sky.Editor.Services.CDN
@model CdnViewModel

@{
    ViewData["Title"] = "Editor Setup";
    var testResult = ViewData["TestResult"] as List<CdnResult>;
}
<style>
    .text-danger {
        color: white !important;
        font-style: italic !important;
        font-weight: bold !important;
    }

    .accordion-button:not(.collapsed) {
        background-color: #dadada !important;
        color: black !important;
    }
</style>
<div class="pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-light">
                <h1 class="card-title">@ViewData["Title"]</h1>
            </div>
        </div>
        <form id="registerForm" method="post" asp-action="CDN" asp-controller="Cosmos___Settings">
            <div class="row">
                <div class="col-md-10">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="row">
                <div class="card-group">
                    <div class="card text-bg-secondary">
                        <div class="card-body">
                            <h3 class="card-title">Cloudflare</h3>
                            <hr />
                            <div class="mb-3" style="margin-top: 42px;">
                                <label asp-for="Cloudflare.ApiToken"></label>
                                <input asp-for="Cloudflare.ApiToken" class="form-control" aria-required="true" />
                                <span asp-validation-for="Cloudflare.ApiToken" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Cloudflare.ZoneId"></label>
                                <input asp-for="Cloudflare.ZoneId" class="form-control" aria-required="true" />
                                <span asp-validation-for="Cloudflare.ZoneId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-secondary">
                        <div class="card-body">
                            <h3 class="card-title">Microsoft</h3>
                            <hr />
                            <div class="form-check form-switch">
                                <input class="form-check-input" asp-for="AzureCdn.IsFrontDoor" type="checkbox" value="" id="checkNativeSwitch" switch>
                                <label class="form-check-label" for="checkNativeSwitch">
                                    Is Azure Front Door
                                </label>
                            </div>

                            <div class="mb-3">
                                <label asp-for="AzureCdn.SubscriptionId"></label>
                                <input asp-for="AzureCdn.SubscriptionId" class="form-control" aria-required="true" />
                                <span asp-validation-for="AzureCdn.SubscriptionId" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="AzureCdn.ResourceGroup"></label>
                                <input class="form-control" asp-for="AzureCdn.ResourceGroup" aria-required="true" />
                                <span asp-validation-for="AzureCdn.ResourceGroup" class="text-danger"></span>
                                <span class="text-light">This is the resource group name where CDN or Front Door is installed.</span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="AzureCdn.ProfileName"></label>
                                <input class="form-control" asp-for="AzureCdn.ProfileName" aria-required="true" />
                                <span asp-validation-for="AzureCdn.ProfileName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="AzureCdn.EndpointName"></label>
                                <input class="form-control" asp-for="AzureCdn.EndpointName" aria-required="true" />
                                <span asp-validation-for="AzureCdn.EndpointName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-secondary">
                        <div class="card-body">
                            <h3 class="card-title">Sucuri CDN/Firewall</h3>
                            <hr />
                            <div class="mb-3" style="margin-top: 42px;">
                                <label asp-for="Sucuri.ApiKey"></label>
                                <input class="form-control" asp-for="Sucuri.ApiKey" aria-required="true" />
                                <span asp-validation-for="Sucuri.ApiKey" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="Sucuri.ApiSecret"></label>
                                <input class="form-control" asp-for="Sucuri.ApiSecret" aria-required="true" />
                                <span asp-validation-for="Sucuri.ApiSecret" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <button id="btnSave" type="submit" class="btn btn-sm btn-primary">Save and test settings <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <a asp-action="Index" class="btn btn-sm btn-secondary">Cancel <i class="fa-solid fa-circle-arrow-right"></i></a>
                    <a asp-action="Remove" asp-controller="Cosmos___Cdn" class="btn btn-primary">Remove <i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-md-6">
                @if (@testResult != null)
                {
                    foreach (var result in testResult)
                    {
                        <div class="mb-3">
                            <span>
                                @result.ProviderName:
                                if (@result.IsSuccessStatusCode)
                                {
                                <text>Success</text>
                                }
                            </span><br />
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("body").addClass("cwps-editor-container");
    });
</script>

<partial name="_ValidationScriptsPartial" />
