# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Unit Tests

on:
  workflow_dispatch
  #push:
  #  branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

jobs:
    
  build:

    runs-on: ubuntu-latest
    
    env:
        CosmosPublisherUrl: ${{ secrets.COSMOSPUBLISHERURL }}
        AdminEmail: ${{ secrets.ADMINEMAIL }}
        CosmosAllowSetup: ${{ secrets.COSMOSALLOWSETUP }}
        CosmosStaticWebPages: ${{ secrets.COSMOSSTATICWEBPAGES }}
        ConnectionStrings__StorageConnectionString: ${{ secrets.STORAGECONNECTIONSTRING }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore SkyCMS.sln
    - name: Build
      run: dotnet build SkyCMS.sln --no-restore
    - name: Test
      run: dotnet test SkyCMS.sln --no-build --verbosity normal
